<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>Архив задач</title>
</head>
<body>
Пользователь:  {{login}}
<br>
<br>
<table>
  <table border="1">
   <caption>Выполенные или отмененные задачи</caption>
   <tr>
    <th>ID</th>
    <th>Задача</th>
    <th>Статус</th>
    <th>Решение</th>
    <th>Исполнитель</th>
       <th>Создание</th>
       <th>Взято в работу</th>
       <th>Завершено</th>
   </tr>
{% for task in tasks_arhiv %}
<tr> <td>{{ task.id }} </td> <td> {{ task.task }} </td> <td> {{ task.status }} </td> <td> {{ task.work }} </td>
     <td> {{ task.fio }} </td> <td>{{ task.create.strftime('%d.%m.%Y %H:%M') }} </td>
    <td>{{ task.work.strftime('%d.%m.%Y %H:%M') }} </td> <td>{{ task.complete.strftime('%d.%m.%Y %H:%M') }} </td>
</tr>
{% endfor %}
</table>
<br>
<br>
<a href="{{ url_for('show')}}">Главная</a>
</body>
</html>