<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>Новые пераработки</title>
</head>
<body>
Пользователь:  {{login}}
<br>
<br>
  <table border="1">
   <caption>Новые переработки, не взятые в работу</caption>
   <tr>
    <th>ID</th>
       <th>ФИО</th>
    <th>Начало</th>
    <th>Завершение</th>
    <th>Комментарий</th>
    <th>Статус</th>
    <th>Создание</th>
    <th>Взять в работу</th>
   </tr>
{% for work in open_work %}
<tr> <td>{{ work.id }} </td> <td> {{ work.fio }} </td>
     <td>{{ work.date_start }} </td> <td> {{ work.date_stop }} </td> <td> {{ work.comment }} </td>
    <td>{{ work.status }} </td>
    <td>{{ work.create.strftime('%d.%m.%Y %H:%M') }} </td>
    <td>
     <form action="/in_work_work" method="post">
     <button name="in_work_work" type="submit" value={{ work.id }}>В работу</button>
    </form>
    </td>

</tr>
{% endfor %}
</table>




<br>
<a href="{{ url_for('show')}}">Главная</a>
</body>
</html>