<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
Пользователь:  {{login}}
<br>
<br>
<form action="/update_user" method=post id="update"> </form>
<table border="1">
<caption>Пользователи</caption>
   <tr>
    <th>ФИО</th>
    <th>Пароль</th>
    <th>ID</th>
    <th></th>
   </tr>
{% for user in show_users_var %}
        <tr>
    <td> {{ user.login }} </td>
    <td> <input type="text" maxlength="16" name=user_password size="16" value="{{ user.password }}" form="update"/> </td>
    <td> <input type="text" maxlength="9" name=user_id size="9" value="{{ user.id }}" form="update"/> </td>>
    <td> <button name="update_user" type="submit" value={{ user.login }} form="update">Ок</button> </td>
        </tr>
{% endfor %}
</table>
<br>
<a href="{{ url_for('show')}}">Главная</a>
<br>
.
<br>
</body>
</html>