<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
Пользователь:  {{login}}
<br>
<br>
<table border="1">
    <caption>Пользователи</caption>
   <tr>
    <th>ФИО</th>
    <th>Пароль</th>
    <th>ID</th>
    <th></th>
   </tr>
    {% for user in show_users_var %}
        <tr>
     <form action="/update_user" method="post">
    <td> <input type="text" size="16" name="update_user" value="{{ user.login }}"  readonly> </td>
    <td> <input type="text" size="16" maxlength="16" name="user_password" value="{{ user.password }}" > </td>
    <td> <input type="text" size="9" maxlength="9" name="user_id"  value="{{ user.id }}" > </td>>
    <td> <input type="submit" value="Ok" > </td>>
            </form>
        </tr>
    {% endfor %}
</table>
<br>
<a href="{{ url_for('show')}}">Главная</a>
<br>
..
<br>
</body>
</html>