<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>Статистика по задачам</title>
</head>
<body>
Пользователь:  {{login}}
<br>
<br>
Задачи:
<br>
  <ul class="sidebar-nav">
     <li><a href="{{ url_for('new')}}">Создать</a> </li>
     <li><a href="{{ url_for('open') }}">Новые:</a>  {{ids_new}} </li>
     <li><a href="{{ url_for('work') }}">В работе:</a>  {{ids_work}} </li>
     <li><a href="{{ url_for('arhiv')}}">Выполнено:</a>  {{ids_complete}} </li>
  </ul>

{% if login != 'Гость'  %}

Переработки: {{ids_works}}
<br>
  <ul class="sidebar-nav">
     <li><a href="{{ url_for('new_work') }}">Создать</a> </li>
     <li><a href="{{ url_for('open_work') }}">Новые:</a> {{ids_new_works}} </li>
      <li><a href="{{ url_for('work_work') }}">В работе:</a> {{ids_work_works}} </li>
      <li><a href="{{ url_for('work_arhiv')}}">Выполнено в этом месяце</a>   </li>
      <li><a href="{{ url_for('work_arhiv_prev')}}">Выполнено в прошлом месяце</a>   </li>
  </ul>
<br>

{% endif %}

<a href="{{ url_for('logout')}}">Выход</a>
</body>
</html>
