<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
Пользователь:  {{login}}
<br>
<br>
<table border="1">
<caption>Пользователи</caption>
   <tr>
    <th>ФИО</th>
    <th>Пароль</th>
    <th>ID</th>
    <th>Сохранить</th>
   </tr>
{% for user in show_users_var %}
<tr>
    <form action="/update_user" method=post>
    <td>{{ user.login }} </td>
    <td> <input type="text" maxlength="16" name=user_password size="16" value="{{ user.password }}"> </td>
    <td> <input type="text" maxlength="9" name=user_id size="9" value="{{ user.id }}"> </td>>
    <td> <button name="update_user" type="submit" value={{ user.login }}>Ок</button> </td>
    </form>
</tr>
{% endfor %}
</table>
<br>
<a href="{{ url_for('show')}}">Главная</a>
<br>
<br>
Версия 10
</body>
</html>