<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>Задачи в работе</title>
</head>
<body>
Пользователь:  {{login}}
<br>
<br>
<table>
  <table border="1">
   <caption>Задачи взятые в работу</caption>
   <tr>
    <th>ID</th>
    <th>Задача</th>
    <th>Статус</th>
    <th>Исполнитель</th>
       <th>Создание</th>
       <th>Взято в работу</th>
       <th>Выполнить</th>
       <th>Отменить</th>

   </tr>
{% for task in tasks_work %}
<tr> <td>{{ task.id }} </td> <td> {{ task.task }} </td> <td> {{ task.status }} </td>
    <td> {{ task.fio }} </td> <td>{{ task.create.strftime('%d.%m.%Y %H:%M') }} </td> <td>{{ task.work.strftime('%d.%m.%Y %H:%M') }} </td>

<td>
     {% if login== task.fio  %}
     <form action="/in_complete" method="post">
     <button name="in_complete" type="submit" value={{ task.id }}>Выполнено</button>
    </form>
    {% endif %}
</td>
    <td>
        {% if login== task.fio  %}
     <form action="/in_cancel" method="post">
     <button name="in_cancel" type="submit" value={{ task.id }}>Отмена</button>
</form>
        {% endif %}
 </td>
</tr>
{% endfor %}
</table>
    <br>
<a href="{{ url_for('show')}}">Главная</a>
</body>
</html>