<html>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<head>
    <meta charset="UTF-8">
    <title>Архив задач</title>
</head>
<body>
Пользователь:  {{login}}
<br>
<br>
<table>
  <table border="1">
   <caption>Выполенные или отмененные переработки</caption>
   <tr>
     <th>ID</th>
    <th>ФИО</th>
    <th>Начало</th>
    <th>Завершение</th>
    <th>Комментарий</th>
    <th>Статус</th>

    <th>Решение</th>
       <th>Создание</th>
       <th>Взято в работу</th>
              <th>Завершено</th>
   </tr>

{% for work in works_arhiv %}
      {% if month() %}
<tr> <td>{{ work.id }} </td> <td> {{ work.worker }} </td>
    <td>{{ work.date_start }} </td> <td> {{ work.date_stop }} </td> <td> {{ work.comment }} </td>
   <td> {{ work.status }} </td> <td>  {{work.done}}</td>
    <td>{{ work.create.strftime('%d.%m.%Y %H:%M') }} </td>
    <td>{{ work.work.strftime('%d.%m.%Y %H:%M') }} </td> <td>{{ work.complete.strftime('%d.%m.%Y %H:%M') }} </td>
</tr>
      {% endif %}
{% endfor %}
</table>
<br>
<br>
<a href="{{ url_for('show')}}">Главная</a>

<script>
function month() {
var d = new Date();
if 3 == d.getMonth() + 1 { m = true}
return m
}
</script>
</body>
</html>